/*	
 You should write an external CSS file with the following attributes for the body tag and you need to link this CSS file to your HTML file.

• Font size: 24pixels
• Body background: #00BFFF
• The text should be displayed in “Verdana” font. */
body{
	font-size: 24px;
	background-color: #00BFFF;
	font-family: Verdana;
}